<div class="card">
    <div class="card-header" style="color: rgb(6, 89, 161); font-weight:bold;">
      Products by Category
    </div>
    <div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
        <!-- Category selection dropdown -->
        <div class="form-group row mb-4">
            <label for="categorySelect" class="text-primary">Select Category:</label>
            <div class="col_md-4">
            <select class="form-control custom-select" id="categorySelect" [(ngModel)]="selectedCategoryId" (change)="onCategoryChange()">
            <option [ngValue]="null">Select a Category</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
            </select>
        </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h5>Products in {{ selectedCategoryName || 'Selected Category' }}</h5>
              </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Product Code</th>
                <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                <td>{{ product.productName }}</td>
                <td>{{ product.productCode }}</td>
                <td>{{ product.price | currency:'USD':true:'1.2-2' }}</td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>
    </div>
</div>
