<div class="card">
    <div class="card-header">
        Shopping Cart for {{ username }}
      </div>

      
  <div *ngIf="products.length === 0" class="cart-empty-message">
    CART EMPTY
  </div>
    
<div class="cart-container">
    <div class="product-card" *ngFor="let product of products">
      <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image">
      <div class="product-details">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p>Price: ${{ product.price }}</p>
        <button class="remove" (click)="removeProduct(product.id)">Remove</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <button class="btn btn-outline-secondary mr-3"
            style="width:80px"
            (click)="onBack()">
      <i class="fa fa-chevron-left"></i> Back
    </button>
    </div>
</div>
  