<div class="card">
  <div class="card-header"style="color: rgb(6, 89, 161); font-weight:bold;">
    Shopping Cart for {{ username }}
  </div>

  <div *ngIf="cartItems.length === 0" class="cart-empty-message">
    CART EMPTY
  </div>

  <div class="cart-container">
    <div class="product-card" *ngFor="let cartItem of cartItems">
      <img [src]="cartItem.imageUrl" alt="{{ cartItem.name }}" class="product-image">
      <div class="product-details">
        <h3>{{ cartItem.name }}</h3>
        <p>{{ cartItem.description }}</p>
        <p>Price: ${{ cartItem.price }}</p>
        <p>Quantity: {{ cartItem.quantity }}</p> <!-- Display quantity -->
        <button class="remove" (click)="removeProduct(cartItem.id)">Remove</button>
      </div>
    </div>
  </div>

  <div class="cart-subtotal">
    <span class="subtotal-label">Subtotal:</span>
    <span class="subtotal-value"> {{ totalCartPrice | currency }}</span>
  </div>

  <div class="cart-actions">
    <button class="btn btn-primary" [disabled]="cartItems.length === 0" (click)="proceedToCheckout()">
      Proceed to Checkout
    </button>
  </div>

  <div class="col-md-4">
    <button class="btn btn-outline-secondary mr-3" style="width:80px" (click)="onBack()">
      <i class="fa fa-chevron-left"></i> Back
    </button>
  </div>
</div>
