<body>
  <div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
      <img src="https://img.freepik.com/free-vector/car-service-doodle-concept-mechanic-garage_107791-14607.jpg?w=1380&t=st=1696404502~exp=1696405102~hmac=6784e9f62883a238dd80567e5736a299b00330d3b71387af6f1651246e396995" class="img-fluid" style="max-height: 300px;" />
    </div>
    <div class="col-md-6">
      <div class="text-center mb-4">
        <h2 class="font-weight-bold" style="color: rgb(6, 89, 161);">About Us</h2>
      </div>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus
        ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent
        mauris. Fusce nec tellus sed augue semper porta. Mauris massa.
      </p>
    </div>
  </div>
  <hr class="my-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-12 text-center">
      <h2 class="font-weight-bold" style="color: rgb(6, 89, 161);">Our Products</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-3 text-center">
      <div class="card product-card">
        <img src="https://img.freepik.com/free-vector/tools-icons-set-hammer-wrench-screwdriver-spanner-vector-illustration_1284-47050.jpg?size=300" class="card-img-top" alt="Hand Tools" />
        <div class="card-body">
          <h5 class="card-title">Hand Tools</h5>
          <p class="card-text">Explore our collection of hand tools.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="card product-card">
        <img src="https://img.freepik.com/premium-vector/kitchenware-set-kitchen-utensils-cutlery_8071-33256.jpg?size=300" class="card-img-top" alt="Kitchen Utensils" />
        <div class="card-body">
          <h5 class="card-title">Kitchen Utensils</h5>
          <p class="card-text">Discover a wide range of kitchen utensils.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="card product-card">
        <img src="https://img.freepik.com/free-vector/colored-icons-different-types-home-appliances_1284-44063.jpg?size=300" class="card-img-top" alt="Electronics" />
        <div class="card-body">
          <h5 class="card-title">Electronics</h5>
          <p class="card-text">Shop for electronic gadgets and appliances.</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center mb-4">
        <h2 class="font-weight-bold" style="color: rgb(6, 89, 161);">Contact Us</h2>
      </div>
      <p>
        Address: 123 Main St, City, Country<br>
        Phone: (123) 456-7890<br>
        Email: info@example.com
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img src="https://img.freepik.com/free-vector/flat-customer-support-illustration_23-2148899114.jpg?size=150" class="img-fluid" style="max-height: 300px;" />
    </div>
  </div>
</body>